[tool.poetry]
name = "pycalf"
version = "0.2.9"
description = ""
authors = ["konumaru <konumaru1022@gmail.com>"]
documentation = "https://pycalf.readthedocs.io/en/latest/"

[tool.poetry.dependencies]
python = "^3.11"
numpy = "^1.18.2"
pandas = "^1.0.3"
matplotlib = "^3.2.1"
scikit-learn = "^1.3.1"
statsmodels = "^0.14.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
autopep8 = "^1.5.2"
jupyterlab = "^2.2.10"
sphinx = "^3.2.1"
sphinxcontrib-apidoc = "^0.3.0"
sphinx_rtd_theme = "^0.5.0"
sphinxcontrib-seqdiag = "^2.0.0"
recommonmark = "^0.6.0"
flake8 = "^3.8.4"
black = "^20.8b1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
