[tool.poetry]
name = "pycalf"
version = "0.2.4"
description = ""
authors = ["konumaru <konumaru1022@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.18.4"
pandas = "^1.0.3"
matplotlib = "^3.2.1"
sklearn = "^0.0"
statsmodels = "^0.11.1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
autopep8 = "^1.5.2"
jupyterlab = "^2.1.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
